a {
    text-decoration: none;
    font-size: large;
}

a:hover {
    text-decoration: underline;
}

body {
    font-size: large;
    color: #fff;
}

button {
    border: 0;
}

.carousel-indicators, .carousel-control-next, .carousel-control-prev {
    scale: 200%;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 5 !important;
}

.carousel-indicators {
    background-color: rgba(0, 0, 0, .45);
    padding: 4px;
}

div[class^="playlist-"], div[class*=" playlist-"] {
    background-color: rgba(255, 255, 255, .95);
    color: #000;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    width: 100%;
    z-index: 99;
}

.fa-3xl {
    font-size: 3em;
}

.fa-4xl {
    font-size: 4em;
}

.fa-5xl {
    font-size: 5em;
}

footer {
    position: initial !important;
}

h1 {
    margin: 0 0 20px 0;
}

h3.header-playlist {
    margin: 0 0 20px 0;
}

iframe {
    padding-bottom: 1px;
}

.nav-item {
    margin: 30px 30px 30px 30px !important;
}

@media only screen and (max-width: 770px) {
    a {
        font-size: small;
    }

    body {
        font-size: small;
    }

    .wide-screen-only {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    a {
        font-size: medium;
    }

    body {
        font-size: medium;
    }

    .fa-4xl {
        font-size: 2em;
    }

    .nav-item {
        margin: 10px 10px 10px 10px !important;
    }
}