@page
@model EclecticXnet.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var playlist in Model.PlayLists)
    {
        <section style="margin: 10px 0 10px 0;">
            <img src="@playlist.ThumbnailUrl" />
        </section>
    }
</div>
